body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
}

.backgrund{
    background-image: url("../static/img/IMG_0613.jpeg");
}

.copyright {
    text-align: center;
    text-align: end;
    background-color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.message-list {
    list-style: none;
    padding: 0;
}

.message-item {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message-form label {
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
