@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;   
}

html{
    font-family: Poppins;
    color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #1c1f2b;
    color: #f9f9f9;
    text-align: center;
    height: 100vh;
    display: grid;
    place-items: center;
}

.backgrund{
    background-image: url("../static/img/IMG_0613.jpeg");
}

.copyright {
    text-align: center;
    text-align: end;
    background-color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
 
    background-color: #006aff;
}

.message-list {
    list-style: none;
    padding: 0;
}

.message-item {
    background: #161616;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: aquamarine;
}

.message-form label {
    font-weight: bold;
}

.card_1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    min-height: 300px;
    min-width: 300px;
    max-width: 80%;
    background: #1c1f2b;
    text-align: center;
    border-radius:  10px;
    position: relative;
    color:aqua;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card_1::after, .card_1::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card_1::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}


.card_2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius:  10px;
    position: relative;
    color:aqua;
}

@property --angle2{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card_2::after, .card_2::before{
content: '';
position: absolute;
height: 100%;
width: 100%;
background-image: conic-gradient(from var(--angle), aqua, transparent, red, transparent, aqua);
top: 50%;
left: 50%;
translate: -50% -50%;
z-index: -1;
padding: 4px;
border-radius: 10px;
animation: 3s spin linear infinite;
}
.card_2::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}

.card_3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2em;
    width: 300px;   
    background: #1c1f2b;
    text-align: center;
    border-radius:  10px;
    position: relative;
    color:aqua;
}

@property --angle3{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card_3::after, .card_3::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), green, transparent, red, transparent, green);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
.card_3::before{
    filter: blur(1.5rem);
    opacity: 0.5;

}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}    
        

.socials-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.socials-container a{
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
    height: 32px;
}
.socials-container a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
    background-color: var(--accent-color);
    fill: white;
}
.socials-container a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.socials-container a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}

.write_message{
    display: flex;
    float: right;
    fill: white;
}
.write_message a{
    background-color: #40AEF0;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.write_message a svg{
    height: 32px;
}
.write_message a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.write_message a:hover{
    background-color: var(--accent-color);
}
.write_message a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.write_message a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.write_message a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background: #333;
    color: #fff;
}
