{% extends "base.html" %}

{% block title %}About - Guestbook{% endblock %}

{% block content %}

<br><img src="../img/rainbow.jpeg" width="850" height="480"><br><br><br>

<div class="card_1">
    <h1>Animate Borders</h1>
    <p>Links to my social media</p><br>
    <nav>
        <div class="My-Youtube">
            <a href="https://www.youtube.com/@Rory_dk", target="_blank">YouTube</a>  |
            <a href="https://www.twitch.tv/rory_dk", target="_blank">Twitch</a>  |
            <a href="https://x.com/hr_rory", target="_blank">Twitter(X)</a>
        </nav>
</div>






{% endblock %}