<!DOCTYPE html>
<head>
    <html lang="en"></html>
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Guestbook{% endblock %}</title>
</head>
<body>
    <div class="pageselect">
        <header>
            {% include 'menu.html' %}
        </header>
    </div>
    <div class="container">
        
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>© 2024 VBFF CYBER LINJEN(RORY)</p>
        </footer>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>