<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Guestbook{% endblock %}</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Min Gæstebog</h1>
            <nav>
                <a href="/">Home</a> | <a href="/write">Write a Message</a>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>&copy; 2024 VBFF CYBER LINJEN</p>
        </footer>
    </div>
</body>
</html>