<!DOCTYPE html>
<html lang="en">
<head>
    <meta lang="da-dk">
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messeg bord</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <meta lang="da-dk">
    <meta charset="UTF-16">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messeg bord</title>
    <link rel="stylesheet" href="../css/style.css">

    {% include 'menu.html' %}

    {% for msg in messeges}
    <div class="messeges">
        <p>Fra: {{msg.sender}}</p>
        <p>{{msg.messeges}}
        </p>
    </div>
    {%endfor%}

</body>
</html>