{% extends "base.html" %}

{% block title %}querystring - Guestebook{% endblock %}

{% block content %}

<img src="../img/mintara_gay.png" width="200" height="200"><br>

    {% if name %}
    <h1>Your name is: {{ name }}!</h1>
    <h1>Your age is: {{ age }}!</h1>
    <h1>Your nationality is: {{ nationality }}!</h1>
    <a herf="../querystring"></a>
    {% else %}
        <h1>Who are you?</h1>
            <form method="get" action="/querystring">
                <input type="text" name="name" placeholder="Enter your name" width="200" required><br><br>
                <input type="number" name="age" min="1"m max="99" placeholder="Enter your age" width="200" required><br><br>
                <select id="options" name="nationality" width="200" required>
                    <option value="" selected disabled>-- Choose a country --</option>
                    <option value="DK">Danmark</option>
                    <option value="IE">Irland</option>
                    <option value="UK">United Kingodm</option>
                    <option value="USA">United States of America</option>
                    <option value="JP">日本</option>
                </select><br><br>
        
                <label>Save Name</label>
                <input type="radio" name="cookie_Name" value="Save" required>
                
                <label>Don't save Name</label>
                <input type="radio" name="cookie_Name" value="unSave" required>
                <br><br>

                <button type="submit">Submit</button>
                <button type="reset">Reset</button>
            </form>
            {% endif %}

{% endblock %}