{% extends "base.html" %}

{% block title %}Set you language🌐 - Guestbook{% endblock %}

{% block content %}


<div class="card_4">
    <h1>You've been sent to this page because you haven't set a language🌐</h1>
    <select id="options" name="language" width="200" required>
    <option value="" selected disabled>-- Choose a language🌐 --</option>
    <option value="da">🇩🇰 Dansk</option>
    <option value="sj" disabled>🇸🇪 Svanska</option>
    <option value="en">🇬🇧 English</option>
    <option value="jp">🇯🇵 日本語</option>
        </select>
</div>

{% endblock %}