{% extends "base.html" %}

{% block title %}Write a Message - Guestbook{% endblock %}

{% block content %}
    <form method="post" class="message-form">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ name }}" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" required></textarea><br><br>
        <a href="../messages"></a>
        <button type="submit">Submit</button>
    </form>
{% endblock %}