{% extends "base.html" %}

{% block title %}Write a Message - Guestbook{% endblock %}

{% block content %}
    <form method="post" class="message-form">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ name }}" required><br><br>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" cols="50" maxlength="300" required></textarea><br><br>
        <a href="../{{ language }}/messages"></a>
        <button type="submit" onclick="checker()">Submit</button>
    </form>
    <script>
        function checker() {
            var result = confirm("Are you shure you want to send this message\n\nThis action can not be undone");
            if (result == false) {
                event.preventDefault();
            }
        }   
    </script>
{% endblock %}